 header{
    position: absolute;
    width: 100%;
    z-index: 999;
    body{
        font-family: "Open Sans", serif;
    }
    nav{ 
      background-color: rgb(22, 12, 109,85%);
      padding:20px !important; 
        ul{
            gap: 53px;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: $white;
                    font-size: 18px;
                    font-weight: 600;
                    &:hover{
                        color: $Green;
                        transition: 0.4s;
                    }
                }
            }
        }
      }
        button{
            @include button () 
        }
     
 }

  